Repository AnalineS/roteirosdedispersacao, changes with the labels that .github/labeler.yml gives for each.
All labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: corre√ß√£o, tipo: testes, tipo: seguran√ßa, tipo: performance, tipo: depend√™ncias, prioridade: cr√≠tica, prioridade: alta, prioridade: baixa, breaking-change, automa√ß√£o, documenta√ß√£o-necess√°ria

.github/labeler.yml:

# üè∑Ô∏è Configura√ß√£o do Sistema de Labels Autom√°ticos v5
# actions/labeler@v5 - Sintaxe atualizada

# ==============================================================================
# üìÅ LABELS POR √ÅREA/COMPONENTE
# ==============================================================================

"√°rea: backend":
  - changed-files:
    - any-glob-to-any-file: "apps/backend/**/*"

"√°rea: frontend":
  - changed-files:
    - any-glob-to-any-file: "apps/frontend-nextjs/**/*"

"√°rea: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - ".github/dependabot.yml"
      - "docker*"
      - "**/Dockerfile*"

"√°rea: documenta√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "README*"
      - "CHANGELOG*"

"√°rea: configura√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml" 
      - "*.yaml"
      - "*.toml"
      - "*.env*"
      - ".gitignore"

# ==============================================================================
# üìè LABELS POR TAMANHO DO PR
# ==============================================================================

# Tamanho baseado em arquivos - removido pois count-changed-files n√£o √© suportado no v5

# ==============================================================================
# üö¶ LABELS POR TIPO DE MUDAN√áA (baseado em arquivos)
# ==============================================================================

"tipo: funcionalidade":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/backend/src/controllers/**/*" 
      - "apps/frontend-nextjs/src/pages/**/*"
      - "apps/frontend-nextjs/src/components/**/*"

"tipo: corre√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*fix*"
      - "**/*bug*"
      - "apps/backend/src/middleware/**/*"

"tipo: testes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/test*/**/*"
      - "**/tests/**/*"
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/cypress/**/*"
      - "**/playwright/**/*"

"tipo: seguran√ßa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/security/**/*"
      - "**/*auth*/**/*"
      - "**/*security*"
      - ".github/queries/**/*"

"tipo: performance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/cache/**/*"
      - "**/*performance*"
      - "**/*optimization*"
      - "**/monitoring/**/*"

"tipo: depend√™ncias":
  - changed-files:
    - any-glob-to-any-file:
      - "package*.json"
      - "requirements*.txt"
      - "poetry.lock"
      - "Pipfile*"
      - "yarn.lock"

# Branch-based labeling removido - n√£o totalmente suportado no v5
# Usar apenas file-based labeling que √© mais confi√°vel

# ==============================================================================
# ‚ö° LABELS POR PRIORIDADE AUTOM√ÅTICA
# ==============================================================================

"prioridade: cr√≠tica":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*security*"
      - "**/*auth*"
      - "apps/backend/src/middleware/**/*"

"prioridade: alta":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - ".github/workflows/**/*"

"prioridade: baixa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "**/test*/**/*"

# ==============================================================================
# üí• LABELS ESPECIAIS
# ==============================================================================

"breaking-change":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/models/**/*"
      - "apps/backend/migrations/**/*"  
      - "apps/frontend-nextjs/src/types/**/*"

"dependabot":
  - author: "dependabot[bot]"

"automa√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - "scripts/**/*"
      - "**/*automation*"

"documenta√ß√£o-necess√°ria":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/frontend-nextjs/src/pages/**/*"

feat: add persona selector UI components with accessibility
  apps/frontend-nextjs/src/components/accessibility/PersonaAccessibilityProvider.tsx
  apps/frontend-nextjs/src/components/home/PersonaSelectorUnified.tsx
Labels: √°rea: frontend, tipo: funcionalidade

feat: integrate unified persona system into application
  apps/frontend-nextjs/middleware.ts
  apps/frontend-nextjs/src/app/chat/page.tsx
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/app/page.tsx
Labels: √°rea: frontend

fix: resolve TypeScript compilation errors and update dependencies
  apps/frontend-nextjs/package-lock.json
  apps/frontend-nextjs/package.json
  apps/frontend-nextjs/src/hooks/useAnalytics.ts
Labels: √°rea: frontend

feat: add Supabase security fixes and comprehensive documentation
  apps/frontend-nextjs/src/tests/e2e/persona-flows.test.ts
  docs/PERSONA_UNIFIED_SYSTEM.md
  scripts/migration/enable_rls_security.sql
Labels: √°rea: frontend, √°rea: documenta√ß√£o, tipo: testes, tipo: seguran√ßa, prioridade: cr√≠tica, prioridade: baixa, automa√ß√£o

fix: complete Supabase security fixes for remaining warnings
  scripts/migration/enable_rls_security.sql
  scripts/supabase_documents_20250902_215627.json
Labels: tipo: seguran√ßa, prioridade: cr√≠tica, automa√ß√£o

feat: implement robust SSG-compatible authentication system
  apps/frontend-nextjs/src/app/admin/page.tsx
  apps/frontend-nextjs/src/app/login/page.tsx
  apps/frontend-nextjs/src/app/profile/page.tsx
  apps/frontend-nextjs/src/components/auth/AuthButton.tsx
  apps/frontend-nextjs/src/components/auth/AuthStateWrapper.tsx
  apps/frontend-nextjs/src/components/auth/SocialAuthButtons.tsx
  apps/frontend-nextjs/src/components/auth/index.ts
  apps/frontend-nextjs/src/components/navigation/NavigationHeader.tsx
  apps/frontend-nextjs/src/components/ui/GlobalPersonaFAB.tsx
  apps/frontend-nextjs/src/hooks/useChat.ts
  apps/frontend-nextjs/src/hooks/useConversationHistory.ts
  apps/frontend-nextjs/src/hooks/useFirebaseSync.ts
  apps/frontend-nextjs/src/hooks/useGamification.ts
  apps/frontend-nextjs/src/hooks/useIsomorphicAuth.ts
  apps/frontend-nextjs/src/hooks/useSafeAuth.ts
  apps/frontend-nextjs/src/hooks/useSafePersonaFromURL.ts
  apps/frontend-nextjs/src/hooks/useSmartSync.ts
  apps/frontend-nextjs/src/hooks/useUserProfile.ts
Labels: √°rea: frontend, tipo: funcionalidade, tipo: seguran√ßa

fix: update remaining authentication system integration
  apps/frontend-nextjs/src/contexts/PersonaContext.tsx
  apps/frontend-nextjs/src/contexts/PersonaContextSimple.tsx
  apps/frontend-nextjs/src/hooks/usePersonaState.ts
  npm
Labels: √°rea: frontend

feat: implement full-width layout system and fix persona gender references
  apps/frontend-nextjs/TEST_FULL_WIDTH.md
  apps/frontend-nextjs/src/app/page.tsx
  apps/frontend-nextjs/src/components/educational/PersonaEducationalAvatar.tsx
  apps/frontend-nextjs/src/components/home/PersonaSelectorUnified.tsx
  apps/frontend-nextjs/src/components/layout/EducationalLayout.tsx
  apps/frontend-nextjs/src/components/layout/StaticEducationalLayout.tsx
  apps/frontend-nextjs/src/components/navigation/NavigationHeader.tsx
  apps/frontend-nextjs/src/components/personas/PersonaSelector.tsx
  apps/frontend-nextjs/src/components/ui/PersonaEducationalAvatar.tsx
  apps/frontend-nextjs/src/data/personas.ts
  apps/frontend-nextjs/src/styles/globals.css
  apps/frontend-nextjs/src/tests/e2e/persona-flows.test.tsx
Labels: √°rea: frontend, √°rea: documenta√ß√£o, tipo: funcionalidade, tipo: testes, prioridade: baixa

fix: resolve final test failures and achieve 100% test success
  apps/frontend-nextjs/src/components/home/PersonaSelectorUnified.tsx
  apps/frontend-nextjs/src/tests/e2e/persona-flows.test.tsx
Labels: √°rea: frontend, tipo: funcionalidade, tipo: testes, prioridade: baixa

feat: implement unified navigation system with integrated search
  apps/frontend-nextjs/src/app/metodologia/detalhada/page.tsx
  apps/frontend-nextjs/src/app/referencias/page.tsx
  apps/frontend-nextjs/src/app/sitemap/page.tsx
  apps/frontend-nextjs/src/app/sobre/page.tsx
  apps/frontend-nextjs/src/components/layout/StaticEducationalLayout.tsx
  apps/frontend-nextjs/src/components/navigation/NavigationHeader.tsx
  apps/frontend-nextjs/src/components/search/SearchBar.tsx
  apps/frontend-nextjs/src/hooks/useDebounce.ts
Labels: √°rea: frontend, tipo: funcionalidade

docs: adiciona documentação para 7 PRs de melhorias incrementais
  docs/PRs/PR-170-error-handling.md
  docs/PRs/PR-171-ui-components.md
  docs/PRs/PR-172-chat-routing.md
  docs/PRs/PR-173-loading-states.md
  docs/PRs/PR-174-social-features.md
  docs/PRs/PR-175-analytics-dashboard.md
  docs/PRs/PR-176-final-optimization.md
Labels: √°rea: documenta√ß√£o, tipo: performance, prioridade: baixa

chore: inicia implementação PR #170 - Sistema de Tratamento de Erros
  apps/frontend-nextjs/TODO-PR-170.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia implementação PR #171 - Ativação de Componentes UI
  apps/frontend-nextjs/TODO-PR-171.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia PR #172 - Chat Routing
  apps/frontend-nextjs/TODO-PR-172.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia PR #173 - Loading States & UX
  apps/frontend-nextjs/TODO-PR-173.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia PR #174 - Social Features
  apps/frontend-nextjs/TODO-PR-174.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia PR #175 - Analytics Dashboard
  apps/frontend-nextjs/TODO-PR-175.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

chore: inicia PR #176 - Final Optimization
  apps/frontend-nextjs/TODO-PR-176.md
Labels: √°rea: frontend, √°rea: documenta√ß√£o, prioridade: baixa

feat: implementa sistema robusto de tratamento de erros - PR #171
  PR_171_STATUS_UPDATE.md
  PR_ERROR_SYSTEM_EVALUATION.md
  apps/frontend-nextjs/eslint.config.mjs
  apps/frontend-nextjs/full_lint.txt
  apps/frontend-nextjs/package-lock.json
  apps/frontend-nextjs/package.json
  apps/frontend-nextjs/scripts/integrate-error-handlers.ts
  apps/frontend-nextjs/src/app/cadastro/page.tsx
  apps/frontend-nextjs/src/app/chat/page.tsx
  apps/frontend-nextjs/src/app/conformidade/page.tsx
  apps/frontend-nextjs/src/app/esqueci-senha/page.tsx
  apps/frontend-nextjs/src/app/gamification-demo/page.tsx
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/app/login/page.tsx
  apps/frontend-nextjs/src/app/modules/page.tsx
  apps/frontend-nextjs/src/app/modules/sobre-a-tese/page.tsx
  apps/frontend-nextjs/src/components/GoogleAnalytics.tsx
  apps/frontend-nextjs/src/components/errors/ErrorBoundary.tsx
  apps/frontend-nextjs/src/components/errors/ErrorToast.tsx
  apps/frontend-nextjs/src/components/interactive/ClinicalSimulator/CaseSelector.tsx
  apps/frontend-nextjs/src/components/interactive/DispensingChecklist/InteractiveChecklist.tsx
  apps/frontend-nextjs/src/components/interactive/DispensingChecklist/ReadOnlyChecklist.tsx
  apps/frontend-nextjs/src/components/interactive/DispensingChecklist/index.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/ABTestBasicCalculator.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/AdvancedCalculator.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/BasicCalculator.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/CalculationHistory.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/ExportOptions.tsx
  apps/frontend-nextjs/src/components/interactive/DoseCalculator/index.tsx
  apps/frontend-nextjs/src/contexts/PersonaContextSimple.tsx
  apps/frontend-nextjs/src/hooks/useChat.ts
  apps/frontend-nextjs/src/hooks/useErrorHandler.tsx
  apps/frontend-nextjs/src/services/api.ts
  apps/frontend-nextjs/src/services/auth.ts
  apps/frontend-nextjs/src/utils/consistencyValidators.ts
  apps/frontend-nextjs/tests/uiux.validation.tsx
  apps/frontend-nextjs/unused_vars.txt
Labels: √°rea: frontend, √°rea: documenta√ß√£o, tipo: funcionalidade, tipo: testes, prioridade: cr√≠tica, prioridade: baixa

fix: corrige workflows com falhas identificadas
  .github/workflows/production-deploy.yml
  .github/workflows/qa-automation.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/setup-environment.yml
Labels: √°rea: ci-cd, tipo: seguran√ßa, prioridade: cr√≠tica, prioridade: alta, automa√ß√£o

fix: corrige falhas críticas dos workflows QA e Firebase
  .github/workflows/qa-automation.yml
  .github/workflows/setup-environment.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: corrige falha OWASP dependency check
  .github/dependency-check-suppressions.xml
  .github/workflows/qa-automation.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

security: corrige vulnerabilidade crítica urllib3
  apps/backend/requirements.txt
Labels: √°rea: backend

fix: corrige configuração do Snyk org
  .snyk
Labels: none

fix: corrige imports do sistema preditivo
  apps/backend/blueprints/predictions_blueprint.py
  apps/backend/simple_predictive_test.py
Labels: √°rea: backend

fix: corrige regex do Context Analyzer para 100% testes
  apps/backend/services/integrations/predictive_system.py
Labels: √°rea: backend

fix: corrige timeout e recursos do Cloud Run HML
  .github/workflows/hml-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: adiciona sistema completo de automação e qualidade
  .claude/automation/README.md
  .claude/automation/auto-documentation.js
  .claude/automation/continuous-monitoring-system.js
  .claude/automation/lgpd-compliance-checker.js
  .claude/hooks/post-merge-doc-update.js
  .claude/hooks/pre-push-compliance-check.js
  .claude/templates/component-docs-template.md
  .claude/templates/medical-api-template.md
  .claude/templates/test-report-template.md
  docs/generated/README.md
  docs/generated/documentation-report.json
  docs/generated/medical/README.md
  docs/generated/metrics/README.md
  docs/generated/security/README.md
  package-lock.json
  package.json
Labels: √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: seguran√ßa, tipo: depend√™ncias, prioridade: baixa

fix: resolve Cloud Run timeout e otimizar deploy HML
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: corrige imports e testes do sistema preditivo
  .claude/automation/enhanced-error-handling.js
  .claude/dashboard/dashboard-server.js
  .claude/dashboard/medical-dashboard.html
  .claude/tests/comprehensive-test-suite.js
  .claude/training/automation-workflows.md
  .claude/training/medical-compliance-guide.md
  .claude/training/onboarding-guide.md
  .claude/training/slash-commands-tutorial.md
  apps/backend/services/integrations/predictive_system.py
  apps/backend/simple_predictive_test.py
Labels: √°rea: backend, √°rea: documenta√ß√£o, tipo: testes, prioridade: baixa, automa√ß√£o

fix: otimiza Cloud Run timeout mantendo funcionalidades completas
  .github/workflows/hml-pipeline.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: optimize Cloud Run resource allocation and secrets configuration
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

refactor: remove redundant workflows - complete 75% consolidation
  .github/workflows/codeql.yml
  .github/workflows/hml-deploy.yml
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/qa-automation.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/setup-environment.yml
Labels: √°rea: ci-cd, tipo: seguran√ßa, prioridade: cr√≠tica, prioridade: alta, automa√ß√£o

feat: setup complete medical automation system
  .claude/automation/setup-medical-system.js
  .claude/hooks/consolidated/react-medical-check.js
  .github/workflows/automated-ci.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: implement medical quality blocking system
  .claude/hooks/medical-quality-blocker.js
  .claude/settings.local.json
  apps/frontend-nextjs/src/test-hook.ts
  test-quality-hook.txt
Labels: √°rea: frontend

🔄 Complete GitHub Actions workflows consolidation and automation
  .claude/automation/.claude/automation/reports/medical-setup-report.json
  .claude/automation/.claude/config/medical-system.json
  .claude/automation/.tmp-wiki-content.json
  .claude/automation/docs/generated/README.md
  .claude/automation/docs/generated/documentation-report.json
  .claude/automation/docs/generated/medical/README.md
  .claude/automation/docs/generated/medical/calculator_calculator.md
  .claude/automation/docs/generated/medical/case_caso clínico.md
  .claude/automation/docs/generated/metrics/README.md
  .claude/automation/docs/generated/security/README.md
  .claude/automation/reports/lgpd-compliance-1757292731622.json
  .claude/automation/reports/lgpd-compliance-1757292742509.json
  .claude/automation/reports/lgpd-compliance-1757292794870.json
  .claude/automation/reports/lgpd-compliance-1757293609473.json
  .claude/automation/reports/lgpd-compliance-1757294584196.json
  .claude/automation/reports/lgpd-compliance-1757296830139.json
  .claude/automation/reports/quality-blocker-1757294584206.json
  .claude/automation/reports/quality-blocker-1757296830148.json
  .claude/hooks/medical-quality-blocker.js
  .claude/production/deploy-medical-system.js
  .github/workflows/automated-ci.yml
  .github/workflows/claude-automation-system.yml
  .github/workflows/dependabot-release.yml
  .github/workflows/medical-compliance-docs.yml
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  .github/workflows/test-notifications.yml
  .tmp-wiki-content.json
  WORKFLOWS-CLEANUP.md
  docs/generated/documentation-report.json
  docs/generated/lgpd-compliance-report.json
  docs/generated/security/README.md
  package.json
  scripts/claude-quality-check.js
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: seguran√ßa, tipo: depend√™ncias, prioridade: alta, prioridade: baixa, automa√ß√£o

🔧 Fix GitHub Actions secrets configuration
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

🔧 Fix Firebase entryPoint and GCP secret validation
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

🔧 Fix deployment issues: Firebase targets and Cloud Run build context
  .claude/automation/reports/lgpd-compliance-1757296926802.json
  .claude/automation/reports/lgpd-compliance-1757297167655.json
  .claude/automation/reports/lgpd-compliance-1757297265603.json
  .claude/automation/reports/lgpd-compliance-1757297379731.json
  .claude/automation/reports/lgpd-compliance-1757297499474.json
  .claude/automation/reports/lgpd-compliance-1757297543830.json
  .claude/automation/reports/lgpd-compliance-1757298402270.json
  .claude/automation/reports/lgpd-compliance-1757299542123.json
  .claude/automation/reports/quality-blocker-1757297167663.json
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

🔧 Simplificar configuração Firebase e corrigir deployments
  .claude/automation/reports/lgpd-compliance-1757374226903.json
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  apps/backend/Dockerfile
  apps/frontend-nextjs/firebase.hml.json
  apps/frontend-nextjs/firebase.production.json
  archive/old-reports/firebase.json
Labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o
