Repository AnalineS/roteirosdedispersacao, changes with the labels that .github/labeler.yml gives for each.
All labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: corre√ß√£o, tipo: testes, tipo: seguran√ßa, tipo: performance, tipo: depend√™ncias, prioridade: cr√≠tica, prioridade: alta, prioridade: baixa, breaking-change, automa√ß√£o, documenta√ß√£o-necess√°ria

.github/labeler.yml:

# üè∑Ô∏è Configura√ß√£o do Sistema de Labels Autom√°ticos v5
# actions/labeler@v5 - Sintaxe atualizada

# ==============================================================================
# üìÅ LABELS POR √ÅREA/COMPONENTE
# ==============================================================================

"√°rea: backend":
  - changed-files:
    - any-glob-to-any-file: "apps/backend/**/*"

"√°rea: frontend":
  - changed-files:
    - any-glob-to-any-file: "apps/frontend-nextjs/**/*"

"√°rea: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - ".github/dependabot.yml"
      - "docker*"
      - "**/Dockerfile*"

"√°rea: documenta√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "README*"
      - "CHANGELOG*"

"√°rea: configura√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml" 
      - "*.yaml"
      - "*.toml"
      - "*.env*"
      - ".gitignore"

# ==============================================================================
# üìè LABELS POR TAMANHO DO PR
# ==============================================================================

# Tamanho baseado em arquivos - removido pois count-changed-files n√£o √© suportado no v5

# ==============================================================================
# üö¶ LABELS POR TIPO DE MUDAN√áA (baseado em arquivos)
# ==============================================================================

"tipo: funcionalidade":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/backend/src/controllers/**/*" 
      - "apps/frontend-nextjs/src/pages/**/*"
      - "apps/frontend-nextjs/src/components/**/*"

"tipo: corre√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*fix*"
      - "**/*bug*"
      - "apps/backend/src/middleware/**/*"

"tipo: testes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/test*/**/*"
      - "**/tests/**/*"
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/cypress/**/*"
      - "**/playwright/**/*"

"tipo: seguran√ßa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/security/**/*"
      - "**/*auth*/**/*"
      - "**/*security*"
      - ".github/queries/**/*"

"tipo: performance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/cache/**/*"
      - "**/*performance*"
      - "**/*optimization*"
      - "**/monitoring/**/*"

"tipo: depend√™ncias":
  - changed-files:
    - any-glob-to-any-file:
      - "package*.json"
      - "requirements*.txt"
      - "poetry.lock"
      - "Pipfile*"
      - "yarn.lock"

# Branch-based labeling removido - n√£o totalmente suportado no v5
# Usar apenas file-based labeling que √© mais confi√°vel

# ==============================================================================
# ‚ö° LABELS POR PRIORIDADE AUTOM√ÅTICA
# ==============================================================================

"prioridade: cr√≠tica":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*security*"
      - "**/*auth*"
      - "apps/backend/src/middleware/**/*"

"prioridade: alta":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - ".github/workflows/**/*"

"prioridade: baixa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "**/test*/**/*"

# ==============================================================================
# üí• LABELS ESPECIAIS
# ==============================================================================

"breaking-change":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/models/**/*"
      - "apps/backend/migrations/**/*"  
      - "apps/frontend-nextjs/src/types/**/*"

"dependabot":
  - author: "dependabot[bot]"

"automa√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - "scripts/**/*"
      - "**/*automation*"

"documenta√ß√£o-necess√°ria":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/frontend-nextjs/src/pages/**/*"

Fix frontend deployment: corrigir arquitetura Firebase Hosting
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/next.config.js
Labels: √°rea: frontend

Refatorar arquitetura completa: remover Firestore e alcançar ZERO erros TypeScript
  apps/frontend-nextjs/src/app/admin/analytics/page.tsx
  apps/frontend-nextjs/src/hooks/useUserProfile.ts
  apps/frontend-nextjs/src/scripts/runCacheTests.ts
  apps/frontend-nextjs/src/services/advancedAnalytics.ts
  apps/frontend-nextjs/src/services/analytics.ts
  apps/frontend-nextjs/src/services/analyticsFirestoreCache.ts
  apps/frontend-nextjs/src/services/chatService.ts
  apps/frontend-nextjs/src/services/conversationCacheService.ts
  apps/frontend-nextjs/src/services/embeddingService.ts
  apps/frontend-nextjs/src/services/firestoreCache.ts
  apps/frontend-nextjs/src/services/medicalKnowledgeBase.ts
  apps/frontend-nextjs/src/services/personaRAGIntegration.ts
  apps/frontend-nextjs/src/services/ragIntegrationService.ts
  apps/frontend-nextjs/src/services/ragPerformanceOptimizer.ts
  apps/frontend-nextjs/src/services/semanticSearchEngine.ts
  apps/frontend-nextjs/src/services/simpleCache.ts
  apps/frontend-nextjs/src/services/supabaseRAGClient.ts
  apps/frontend-nextjs/src/utils/educationalAnalytics.ts
  apps/frontend-nextjs/src/utils/emojiReplacer.ts
  apps/frontend-nextjs/src/utils/medicalAnalytics.ts
Labels: √°rea: frontend

Fix: Corrigir 5 problemas críticos de deploy + finalizar migração Firebase
  .claude/automation/lgpd-compliance-checker.js
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  .gitignore
  FIREBASE_MIGRATION_AUDIT.md
  FIREBASE_MIGRATION_COMPLETED.md
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/hooks/useConversationHistory.ts
  apps/frontend-nextjs/src/hooks/useGamification.ts
  apps/frontend-nextjs/src/hooks/useRemoteConfig.ts
  apps/frontend-nextjs/src/lib/config.ts
  apps/frontend-nextjs/src/services/aiService.ts
  apps/frontend-nextjs/src/services/fallbackSystem.ts
  apps/frontend-nextjs/src/services/leaderboardService.ts
  apps/frontend-nextjs/src/services/simpleCache.ts
  apps/frontend-nextjs/src/tests/cache/hybridCache.test.ts
  apps/frontend-nextjs/src/utils/featureFlags.ts
Labels: √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: testes, tipo: performance, prioridade: alta, prioridade: baixa, automa√ß√£o

Implementar sistema completo: Database SQLite + JWT Auth + Cache híbrido + 19 Blueprints funcionais
  .github/workflows/deploy-cloud-logging.yml
  .github/workflows/staging-deploy.yml
  CLAUDE.md
  FIREBASE_MIGRATION_AUDIT.md
  FIREBASE_MIGRATION_COMPLETED.md
  SPRINT1_IMPLEMENTATION_GUIDE.md
  apps/backend/blueprints/__init__.py
  apps/backend/blueprints/analytics_blueprint.py
  apps/backend/blueprints/cache_blueprint.py
  apps/backend/blueprints/logging_blueprint.py
  apps/backend/blueprints/monitoring_blueprint.py
  apps/backend/blueprints/multimodal_blueprint.py
  apps/backend/blueprints/notifications_blueprint.py
  apps/backend/blueprints/predictions_blueprint.py
  apps/backend/blueprints/validation_blueprint.py
  apps/backend/core/alerts/notification_system.py
  apps/backend/core/auth/__init__.py
  apps/backend/core/auth/jwt_manager.py
  apps/backend/core/auth/jwt_validator.py
  apps/backend/core/database/__init__.py
  apps/backend/core/database/models.py
  apps/backend/core/logging/cloud_logger.py
  apps/backend/core/logging/fallback_logger.py
  apps/backend/core/security/enterprise_security.py
  apps/backend/core/security/input_validator.py
  apps/backend/services/ai/ai_provider_manager.py
  apps/backend/services/cache/unified_cache_manager.py
  apps/backend/services/rag/vector_store.py
  apps/backend/tests/test_lgpd_compliance.py
  apps/backend/utils/__init__.py
  apps/backend/utils/auth_utils.py
  apps/backend/utils/rate_limiter.py
  apps/backend/utils/validation_utils.py
  apps/frontend-nextjs/src/app/chat/page.tsx
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/components/privacy/LGPDBanner.tsx
  apps/frontend-nextjs/src/utils/cloudLogger.ts
  scripts/setup-cloud-logging-secrets.sh
Labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, tipo: funcionalidade, tipo: testes, tipo: seguran√ßa, tipo: performance, prioridade: cr√≠tica, prioridade: alta, prioridade: baixa, automa√ß√£o

Feat: Implementar sistema educacional completo - Certificação + Gamificação + PWA
  apps/backend/blueprints/alerts_blueprint.py
  apps/backend/blueprints/ga4_integration_blueprint.py
  apps/backend/core/alerts/notification_system.py
  apps/backend/core/logging/cloud_logger.py
  apps/backend/core/logging/fallback_logger.py
  apps/backend/services/monitoring/ux_monitoring_manager.py
  apps/frontend-nextjs/src/app/acessibilidade/page.tsx
  apps/frontend-nextjs/src/app/certificacao/page.tsx
  apps/frontend-nextjs/src/app/chat/page.tsx
  apps/frontend-nextjs/src/app/glossario/page.tsx
  apps/frontend-nextjs/src/app/icones/page.tsx
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/components/Navigation.tsx
  apps/frontend-nextjs/src/components/educational/EducationalDashboard/index.tsx
  apps/frontend-nextjs/src/components/layout/EducationalLayout.tsx
  apps/frontend-nextjs/src/data/educationalQuizzes.ts
Labels: √°rea: backend, √°rea: frontend, tipo: funcionalidade, tipo: performance

Implementar sistema de navegação inteligente e reativar validação WCAG
  .claude/hooks/medical-quality-blocker.js
  apps/backend/blueprints/__init__.py
  apps/backend/data/database/roteiros_dispensacao.db-shm
  apps/backend/data/database/roteiros_dispensacao.db-wal
  apps/backend/test_alerts.py
  apps/backend/test_ux_tracking.py
  apps/frontend-nextjs/src/app/cronograma/page.tsx
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/app/notifications/page.tsx
  apps/frontend-nextjs/src/app/resources/calculator/page.tsx
  apps/frontend-nextjs/src/app/simulador/page.tsx
  apps/frontend-nextjs/src/app/timeline/page.tsx
  apps/frontend-nextjs/src/components/Navigation.tsx
  apps/frontend-nextjs/src/components/accessibility/AccessibilityDashboard.tsx
  apps/frontend-nextjs/src/components/accessibility/AccessibilityValidator.tsx
  apps/frontend-nextjs/src/components/accessibility/KeyboardNavigationValidator.tsx
  apps/frontend-nextjs/src/components/accessibility/WCAGComplianceSystem.tsx
  apps/frontend-nextjs/src/components/admin/AdminAnalyticsDashboard.tsx
  apps/frontend-nextjs/src/components/analytics/UXAnalyticsProvider.tsx
  apps/frontend-nextjs/src/components/educational/AnonymousTimeline.tsx
  apps/frontend-nextjs/src/components/gamification/ProgressDashboard.tsx
  apps/frontend-nextjs/src/components/icons/EducationalIcons.tsx
  apps/frontend-nextjs/src/components/interactive/ClinicalSimulator/CaseExecution.tsx
  apps/frontend-nextjs/src/components/notifications/NotificationSettings.tsx
  apps/frontend-nextjs/src/hooks/useNumericNavigation.ts
  apps/frontend-nextjs/src/lib/gamification/achievementSystem.ts
  apps/frontend-nextjs/src/services/notifications/NotificationSystem.ts
  apps/frontend-nextjs/src/types/gamification.ts
Labels: √°rea: backend, √°rea: frontend, tipo: funcionalidade, breaking-change

fix: upgrade @next/third-parties from 15.4.6 to 15.5.2
  apps/frontend-nextjs/package-lock.json
  apps/frontend-nextjs/package.json
Labels: √°rea: frontend

fix: apps/frontend-nextjs/Dockerfile to reduce vulnerabilities
  apps/frontend-nextjs/Dockerfile
Labels: √°rea: frontend, √°rea: ci-cd

fix: apps/backend/Dockerfile to reduce vulnerabilities
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd

fix: apps/backend/Dockerfile.production to reduce vulnerabilities
  apps/backend/Dockerfile.production
Labels: √°rea: backend, √°rea: ci-cd

Security: Remove arquivo órfão redis_rate_limiter.py
  apps/backend/core/performance/redis_rate_limiter.py
Labels: √°rea: backend

Security: Sanitizar logs sensíveis no SecretsManager
  apps/backend/core/security/secrets_manager.py
Labels: √°rea: backend, tipo: seguran√ßa

Security: Mascarar nomes de secrets e sanitizar logs de erro
  apps/backend/core/security/secrets_manager.py
Labels: √°rea: backend, tipo: seguran√ßa

Security: Mascarar nomes de seção no código de teste RAG
  apps/backend/core/rag/knowledge_base.py
Labels: √°rea: backend

Security: Resolver falsos positivos e limpar código obsoleto
  apps/backend/archived_requirements/requirements_production.txt
  apps/backend/archived_requirements/requirements_security.txt
  apps/backend/services/rag/vector_store.py
Labels: √°rea: backend, tipo: seguran√ßa, prioridade: cr√≠tica

Feat: Sincronização completa do desenvolvimento local
  apps/frontend-nextjs/src/app/chat/page.tsx
  apps/frontend-nextjs/src/app/dashboard/page.tsx
  apps/frontend-nextjs/src/components/accessibility/AccessibilityValidator.tsx
  apps/frontend-nextjs/src/components/analytics/GoogleAnalyticsSetup.tsx
  apps/frontend-nextjs/src/components/chat/FeedbackWidget.tsx
  apps/frontend-nextjs/src/components/chat/modern/ChatMessagesArea.tsx
  apps/frontend-nextjs/src/components/chat/modern/ModernChatContainer.tsx
  apps/frontend-nextjs/src/components/chat/modern/SmartIndicators.tsx
  apps/frontend-nextjs/src/components/dx/DeveloperToolsProvider.tsx
  apps/frontend-nextjs/src/components/gamification/GamificationWidget.tsx
  apps/frontend-nextjs/src/components/gamification/ProgressDashboard.tsx
  apps/frontend-nextjs/src/components/interactive/TreatmentTimeline/StaticTimeline.tsx
  apps/frontend-nextjs/src/components/layout/StaticEducationalLayout.tsx
  apps/frontend-nextjs/src/components/navigation/GlobalKeyboardProvider.tsx
  apps/frontend-nextjs/src/components/navigation/IntelligentNavigationProvider.tsx
  apps/frontend-nextjs/src/components/navigation/KeyboardNavigationTutorial.tsx
  apps/frontend-nextjs/src/components/profile/EmailPreferences.tsx
  apps/frontend-nextjs/src/components/search/AccessibleSearchWithSuggestions.tsx
  apps/frontend-nextjs/src/constants/medicalShortcuts.ts
  apps/frontend-nextjs/src/hooks/useDynamicOptimization.ts
  apps/frontend-nextjs/src/hooks/useKeyboardNavigation.ts
  apps/frontend-nextjs/src/services/auth.ts
  apps/frontend-nextjs/src/services/notifications/NotificationSystem.ts
  apps/frontend-nextjs/src/services/supabaseRAGClient.ts
  security_alerts.json
Labels: √°rea: frontend, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: seguran√ßa, prioridade: cr√≠tica

Cleanup: Remover arquivos de teste desnecessários do diretório scripts/migration
  all_security_alerts.json
  scripts/migration/simple_test.py
  scripts/migration/test_cache_system.py
  scripts/migration/test_imports.py
  scripts/migration/test_openai_system.py
  scripts/migration/test_semantic_search.py
  scripts/migration/test_semantic_simple.py
  scripts/migration/test_supabase_integration.py
  security_alerts_summary.json
Labels: √°rea: configura√ß√£o, tipo: seguran√ßa, prioridade: cr√≠tica, automa√ß√£o

Fix: Corrigir falhas críticas do deploy e integrar logs HML+PROD
  .github/workflows/deploy-cloud-logging.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

BREAKING: Corrigir workflows para refletir arquitetura REAL (HML)
  .github/workflows/deploy-cloud-logging.yml
  .github/workflows/staging-deploy.yml
  CLAUDE.md
  README.md
  docs/ARQUITETURA_ATUAL_2025.md
  docs/DOCUMENTACAO_ATUALIZADA_RELATORIO.md
  docs/deployment/DEPLOY_GUIDE.md
  docs/deployment/FIREBASE_SETUP.md
  docs/reports/astra_setup_report.md
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, prioridade: alta, prioridade: baixa, automa√ß√£o

BREAKING: Consolidar workflows e corrigir deploy crítico
  .github/workflows/deploy-cloud-logging.yml
  .github/workflows/staging-deploy.yml
  apps/frontend-nextjs/Dockerfile
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/hooks/usePersonas.ts
  apps/frontend-nextjs/src/hooks/usePersonasEnhanced.ts
  apps/frontend-nextjs/src/services/__tests__/api.test.ts
  apps/frontend-nextjs/src/services/hybridCache.ts
  apps/frontend-nextjs/src/services/simpleCache.ts
  apps/frontend-nextjs/src/utils/apiCache.ts
Labels: √°rea: frontend, √°rea: ci-cd, tipo: testes, prioridade: alta, automa√ß√£o

Fix: Corrigir fluxos críticos do workflow e LGPD compliance
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: apps/backend/requirements.txt to reduce vulnerabilities
  apps/backend/requirements.txt
Labels: √°rea: backend
