Repository AnalineS/roteirosdedispersacao, changes with the labels that .github/labeler.yml gives for each.
All labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: corre√ß√£o, tipo: testes, tipo: seguran√ßa, tipo: performance, tipo: depend√™ncias, prioridade: cr√≠tica, prioridade: alta, prioridade: baixa, breaking-change, automa√ß√£o, documenta√ß√£o-necess√°ria

🔧 Adicionar configuração automática de Firebase targets
  .claude/automation/reports/lgpd-compliance-1757376429845.json
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix frontend runtime error by resolving circular dependency in provider chain
  .claude/automation/reports/lgpd-compliance-1757460082898.json
  apps/frontend-nextjs/src/app/layout.tsx
  apps/frontend-nextjs/src/components/accessibility/WCAGComplianceSystem.tsx
  apps/frontend-nextjs/src/contexts/GlobalContextHub.tsx
Labels: √°rea: frontend, tipo: funcionalidade

Replace hardcoded API URLs with environment variables
  .claude/automation/reports/lgpd-compliance-1757463405239.json
  apps/frontend-nextjs/.env.example
  apps/frontend-nextjs/src/services/api.ts
Labels: √°rea: frontend

fix: upgrade @next/third-parties from 15.4.6 to 15.5.0
  apps/frontend-nextjs/package-lock.json
  apps/frontend-nextjs/package.json
Labels: √°rea: frontend

Adicionar workflows de CI/CD para habilitar deploy automático
  .github/workflows/README.md
  .github/workflows/WORKFLOWS_CONSOLIDATION.md
  .github/workflows/claude-automation-system.yml
  .github/workflows/dependabot-consolidated.yml
  .github/workflows/deployment-optimization.md
  .github/workflows/mcp-setup.yml
  .github/workflows/medical-compliance-docs.yml
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  .gitignore
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: performance, prioridade: alta, prioridade: baixa, automa√ß√£o

🚀 Consolidação completa dos workflows e migração GitHub-only
  .github/workflows/README.md
  .github/workflows/WORKFLOWS_CONSOLIDATION.md
  .github/workflows/claude-automation-system.yml
  .github/workflows/deployment-optimization.md
  .github/workflows/mcp-setup.yml
  .github/workflows/medical-compliance-docs.yml
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  apps/data_analysis_report.json
  docs/GITHUB_CONFIGURATION.md
  scripts/.eslintrc.js
  scripts/github-discussions-manager.js
  scripts/google-monitoring-integration.js
  scripts/package-lock.json
  scripts/package.json
  scripts/setup-github-config.sh
  scripts/setup-local-env.sh
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, tipo: performance, prioridade: alta, prioridade: baixa, automa√ß√£o

Fix deployment failures by configuring GitHub Variables
  test-deploy.md
Labels: √°rea: documenta√ß√£o, prioridade: baixa

Remove obsolete hml-pipeline.yml - replaced by staging-deploy.yml
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Remove obsolete main-pipeline.yml - replaced by production-deploy.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Remove obsolete qa-automation.yml - functionality integrated into main workflows
  .github/workflows/qa-automation.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Remove obsolete dependabot-release.yml - replaced by dependabot-consolidated.yml
  .github/workflows/dependabot-release.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Remove obsolete pr-labeler.yml - functionality integrated into main workflows
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Remove obsolete test-notifications.yml - notifications integrated into main workflows
  .github/workflows/test-notifications.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix workflow triggers to prevent multiple deployments
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Final test: ensure only staging workflow runs on hml branch
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  apps/test-staging-only.txt
  test-deploy.md
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, prioridade: alta, prioridade: baixa, automa√ß√£o

Add branch validation to prevent cross-workflow execution
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Clean up test files after workflow validation
  apps/test-staging-only.txt
  test-deploy.md
  test-quality-hook.txt
Labels: √°rea: documenta√ß√£o, prioridade: baixa

Test deployment after environment sync
  apps/frontend-nextjs/test-sync.txt
Labels: √°rea: frontend

Fix workflow syntax: add proper conditional expression syntax
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix deployment workflows and remove hardcoded URLs
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  apps/frontend-nextjs/.env.example
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/src/services/api.ts
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix GitHub Actions workflow syntax for secrets
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Simplify GitHub Actions secrets handling for workflow syntax
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Corrigir configuração de secrets do Telegram no workflow
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Test workflow trigger after Telegram secrets fix
  test_workflow.txt
Labels: none

Trigger workflow with apps/ change to test corrected Telegram secrets
  apps/frontend-nextjs/src/services/api.ts
Labels: √°rea: frontend

Complete workflow syntax fixes and deploy configuration
  .github/workflows/staging-deploy.yml
  apps/frontend-nextjs/src/services/api.ts
  test_workflow.txt
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Update LGPD checker: add GitHub workflow exclusions
  .claude/automation/lgpd-compliance-checker.js
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix staging deployment with correct Cloud Run service configuration
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix Telegram secrets syntax error in production workflow
  .github/workflows/production-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix all remaining secrets syntax errors in production workflow
  .github/workflows/production-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Configurar staging workflow para deploy em qualquer push para hml
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Configurar deploy híbrido Next.js standalone + Firebase Hosting
  .github/workflows/staging-deploy.yml
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/services/api.ts
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Restaurar Dockerfile completo + GitHub Variables + Timeouts realistas
  .github/workflows/staging-deploy.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix Docker compatibility and Firebase standalone path
  apps/backend/Dockerfile
  apps/frontend-nextjs/firebase.json
Labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd

Fix critical deployment failures: backend build and workflow dependencies
  .github/workflows/staging-deploy.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Migrar para Artifact Registry conforme recomendação Google
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Implementar sistema de builds estratégicos com otimização de custos
  .github/workflows/staging-deploy.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Ajustar timeouts para evitar cancelamentos prematuros
  .github/workflows/staging-deploy.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

Implementar arquitetura híbrida completa sem placeholders
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  apps/frontend-nextjs/Dockerfile
  apps/frontend-nextjs/firebase.json
  scripts/configure-github-variables.sh
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

Fix backend deployment: correct secrets vs variables inconsistencies
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  scripts/configure-github-variables.sh
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

.github/labeler.yml:

# üè∑Ô∏è Configura√ß√£o do Sistema de Labels Autom√°ticos v5
# actions/labeler@v5 - Sintaxe atualizada

# ==============================================================================
# üìÅ LABELS POR √ÅREA/COMPONENTE
# ==============================================================================

"√°rea: backend":
  - changed-files:
    - any-glob-to-any-file: "apps/backend/**/*"

"√°rea: frontend":
  - changed-files:
    - any-glob-to-any-file: "apps/frontend-nextjs/**/*"

"√°rea: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - ".github/dependabot.yml"
      - "docker*"
      - "**/Dockerfile*"

"√°rea: documenta√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "README*"
      - "CHANGELOG*"

"√°rea: configura√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml" 
      - "*.yaml"
      - "*.toml"
      - "*.env*"
      - ".gitignore"

# ==============================================================================
# üìè LABELS POR TAMANHO DO PR
# ==============================================================================

# Tamanho baseado em arquivos - removido pois count-changed-files n√£o √© suportado no v5

# ==============================================================================
# üö¶ LABELS POR TIPO DE MUDAN√áA (baseado em arquivos)
# ==============================================================================

"tipo: funcionalidade":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/backend/src/controllers/**/*" 
      - "apps/frontend-nextjs/src/pages/**/*"
      - "apps/frontend-nextjs/src/components/**/*"

"tipo: corre√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*fix*"
      - "**/*bug*"
      - "apps/backend/src/middleware/**/*"

"tipo: testes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/test*/**/*"
      - "**/tests/**/*"
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/cypress/**/*"
      - "**/playwright/**/*"

"tipo: seguran√ßa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/security/**/*"
      - "**/*auth*/**/*"
      - "**/*security*"
      - ".github/queries/**/*"

"tipo: performance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/cache/**/*"
      - "**/*performance*"
      - "**/*optimization*"
      - "**/monitoring/**/*"

"tipo: depend√™ncias":
  - changed-files:
    - any-glob-to-any-file:
      - "package*.json"
      - "requirements*.txt"
      - "poetry.lock"
      - "Pipfile*"
      - "yarn.lock"

# Branch-based labeling removido - n√£o totalmente suportado no v5
# Usar apenas file-based labeling que √© mais confi√°vel

# ==============================================================================
# ‚ö° LABELS POR PRIORIDADE AUTOM√ÅTICA
# ==============================================================================

"prioridade: cr√≠tica":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*security*"
      - "**/*auth*"
      - "apps/backend/src/middleware/**/*"

"prioridade: alta":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - ".github/workflows/**/*"

"prioridade: baixa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "**/test*/**/*"

# ==============================================================================
# üí• LABELS ESPECIAIS
# ==============================================================================

"breaking-change":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/models/**/*"
      - "apps/backend/migrations/**/*"  
      - "apps/frontend-nextjs/src/types/**/*"

"dependabot":
  - author: "dependabot[bot]"

"automa√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - "scripts/**/*"
      - "**/*automation*"

"documenta√ß√£o-necess√°ria":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/frontend-nextjs/src/pages/**/*"
