Repository AnalineS/roteirosdedispersacao, changes with the labels that .github/labeler.yml gives for each.
All labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: corre√ß√£o, tipo: testes, tipo: seguran√ßa, tipo: performance, tipo: depend√™ncias, prioridade: cr√≠tica, prioridade: alta, prioridade: baixa, breaking-change, automa√ß√£o, documenta√ß√£o-necess√°ria

.github/labeler.yml:

# üè∑Ô∏è Configura√ß√£o do Sistema de Labels Autom√°ticos v5
# actions/labeler@v5 - Sintaxe atualizada

# ==============================================================================
# üìÅ LABELS POR √ÅREA/COMPONENTE
# ==============================================================================

"√°rea: backend":
  - changed-files:
    - any-glob-to-any-file: "apps/backend/**/*"

"√°rea: frontend":
  - changed-files:
    - any-glob-to-any-file: "apps/frontend-nextjs/**/*"

"√°rea: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - ".github/dependabot.yml"
      - "docker*"
      - "**/Dockerfile*"

"√°rea: documenta√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "README*"
      - "CHANGELOG*"

"√°rea: configura√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml" 
      - "*.yaml"
      - "*.toml"
      - "*.env*"
      - ".gitignore"

# ==============================================================================
# üìè LABELS POR TAMANHO DO PR
# ==============================================================================

# Tamanho baseado em arquivos - removido pois count-changed-files n√£o √© suportado no v5

# ==============================================================================
# üö¶ LABELS POR TIPO DE MUDAN√áA (baseado em arquivos)
# ==============================================================================

"tipo: funcionalidade":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/backend/src/controllers/**/*" 
      - "apps/frontend-nextjs/src/pages/**/*"
      - "apps/frontend-nextjs/src/components/**/*"

"tipo: corre√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*fix*"
      - "**/*bug*"
      - "apps/backend/src/middleware/**/*"

"tipo: testes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/test*/**/*"
      - "**/tests/**/*"
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/cypress/**/*"
      - "**/playwright/**/*"

"tipo: seguran√ßa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/security/**/*"
      - "**/*auth*/**/*"
      - "**/*security*"
      - ".github/queries/**/*"

"tipo: performance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/cache/**/*"
      - "**/*performance*"
      - "**/*optimization*"
      - "**/monitoring/**/*"

"tipo: depend√™ncias":
  - changed-files:
    - any-glob-to-any-file:
      - "package*.json"
      - "requirements*.txt"
      - "poetry.lock"
      - "Pipfile*"
      - "yarn.lock"

# Branch-based labeling removido - n√£o totalmente suportado no v5
# Usar apenas file-based labeling que √© mais confi√°vel

# ==============================================================================
# ‚ö° LABELS POR PRIORIDADE AUTOM√ÅTICA
# ==============================================================================

"prioridade: cr√≠tica":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*security*"
      - "**/*auth*"
      - "apps/backend/src/middleware/**/*"

"prioridade: alta":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - ".github/workflows/**/*"

"prioridade: baixa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "**/test*/**/*"

# ==============================================================================
# üí• LABELS ESPECIAIS
# ==============================================================================

"breaking-change":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/models/**/*"
      - "apps/backend/migrations/**/*"  
      - "apps/frontend-nextjs/src/types/**/*"

"dependabot":
  - author: "dependabot[bot]"

"automa√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - "scripts/**/*"
      - "**/*automation*"

"documenta√ß√£o-necess√°ria":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/frontend-nextjs/src/pages/**/*"

security: resolve SSRF vulnerability analysis (SNYK-JS-NEXT-12299318) (#150)
  .github/workflows/dependabot-release.yml
  DEPENDABOT-STRATEGY.md
  SECURITY_ANALYSIS.md
  apps/backend/app_config.py
  apps/backend/requirements.txt
  apps/backend/services/rag/embedding_service.py
  apps/backend/services/rag/semantic_search.py
Labels: √°rea: backend, √°rea: ci-cd, √°rea: documenta√ß√£o, prioridade: alta, prioridade: baixa, automa√ß√£o

security: sync SSRF analysis to production (#151)
  .github/workflows/dependabot-release.yml
  .github/workflows/pr-labeler.yml
  DEPENDABOT-STRATEGY.md
  SECURITY_ANALYSIS.md
  apps/backend/app_config.py
  apps/backend/requirements.txt
  apps/backend/services/rag/embedding_service.py
  apps/backend/services/rag/semantic_search.py
Labels: √°rea: backend, √°rea: ci-cd, √°rea: documenta√ß√£o, prioridade: alta, prioridade: baixa, automa√ß√£o

fix: resolve Snyk SARIF upload error in main pipeline
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: add workflow path triggers and improve concurrency handling
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: add workflow change detection and improve security gate triggers
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: update homologation workflow for environment equivalence with production
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: implement hybrid optimization plan - 3 weeks of workflow improvements
  .github/workflows/dependabot-consolidated.yml
  .github/workflows/dependabot-manager.yml
  .github/workflows/dependabot-release.yml
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/qa-automation.yml
  .github/workflows/release-manager.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat(qa): enhance scheduled QA to be 100% comprehensive with categorized findings
  .github/workflows/qa-automation.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: resolve workflow syntax errors in main-pipeline and qa-automation
  .github/workflows/main-pipeline.yml
  .github/workflows/qa-automation.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat(security): implement proper secret detection with migration tools
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  scripts/migrate-secrets.sh
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix(security): resolve TruffleHog same-commit issue and complete HML security parity
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  scripts/migrate-secrets.sh
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix(security): correct TruffleHog configuration and shell syntax
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix(security): resolve TruffleHog duplicate flag and shell syntax errors
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix(notifications): ensure Telegram notifications use GitHub Secrets
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix(notifications): correct Telegram token secret name and add test script
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  scripts/test-telegram.sh
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat(notifications): add test workflow and update test script
  .github/workflows/test-notifications.yml
  scripts/test-telegram.sh
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: migrate configurations to GitHub Secrets and enable advanced services
  apps/backend/core/security/enhanced_security.py
  environments/hml.env
  environments/shared.env
  scripts/add_github_secrets.sh
  scripts/migration/migrate_json_to_supabase.py
  scripts/simple_supabase_populate.py
  scripts/supabase_documents_20250831_205501.json
Labels: √°rea: backend, tipo: seguran√ßa, prioridade: cr√≠tica, automa√ß√£o

feat: enable advanced services in production workflows
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

feat: add professional monitoring architecture and system documentation
  ARQUITETURA_SISTEMA.md
  MONITORAMENTO_PROFISSIONAL.md
  PLANO_HABILITACAO_SERVICOS.md
  apps/frontend-nextjs/src/components/chat/modern/ChatMessagesArea.tsx
  apps/frontend-nextjs/src/components/chat/modern/ModernChatInput.tsx
  apps/frontend-nextjs/src/components/layout/EducationalLayout.tsx
Labels: √°rea: frontend, √°rea: documenta√ß√£o, tipo: funcionalidade, prioridade: baixa

fix: update actions/cache to v4 from deprecated commit hash
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: correct force_deploy logic to actually force deployments
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: add force_deploy support to test conditions
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: update actions/cache to v4 in HML workflow
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: correct security gate conditions to support force_deploy properly
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: resolve deployment issues and implement robust force_deploy logic
  .github/workflows/hml-pipeline.yml
  .github/workflows/main-pipeline.yml
  apps/frontend-nextjs/src/components/layout/EducationalLayout.tsx
Labels: √°rea: frontend, √°rea: ci-cd, tipo: funcionalidade, prioridade: alta, automa√ß√£o

fix: add missing firebase.json to frontend workspace for deployment
  apps/frontend-nextjs/firebase.json
Labels: √°rea: frontend

fix: resolve deployment failures and implement proper force_deploy logic
  .github/workflows/hml-pipeline.yml
  apps/frontend-nextjs/firebase.json
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

optimize: enhance Docker build with timeout controls and better caching strategy
  .github/workflows/hml-pipeline.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: increase Docker build timeout to 45 minutes for complete dependencies
  .github/workflows/hml-pipeline.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: resolve 'No space left on device' Docker build error
  .github/workflows/hml-pipeline.yml
  apps/backend/Dockerfile
Labels: √°rea: backend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: adapt HML tests to unified testing approach
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: correct chat issues in HML environment
  .github/workflows/hml-pipeline.yml
  apps/frontend-nextjs/.env.hml
  apps/frontend-nextjs/.env.production
  apps/frontend-nextjs/next.config.js
Labels: √°rea: frontend, √°rea: ci-cd, prioridade: alta, automa√ß√£o

fix: implement hero section improvements (issue #7)
  apps/frontend-nextjs/src/app/page.tsx
  apps/frontend-nextjs/src/components/home/HeroSection.tsx
Labels: √°rea: frontend, tipo: funcionalidade

fix: resolve React hydration issue in HML environment
  apps/frontend-nextjs/firebase.json
Labels: √°rea: frontend

fix: resolve React hydration issue by disabling static export
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/next.config.js
Labels: √°rea: frontend

fix: correct progress calculation in component state synchronization test
  apps/frontend-nextjs/src/tests/educational/interactiveComponentsQA.test.ts
Labels: √°rea: frontend, tipo: testes, prioridade: baixa

fix: resolve hydration mismatch in HeroSection
  apps/frontend-nextjs/firebase.json
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/components/home/HeroSection.tsx
Labels: √°rea: frontend, tipo: funcionalidade

feat: implement hybrid SSG + client components architecture
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/app/page.tsx
  apps/frontend-nextjs/src/components/analytics/ClientAnalytics.tsx
  apps/frontend-nextjs/src/components/home/PersonaSelector.tsx
  apps/frontend-nextjs/src/components/layout/StaticEducationalLayout.tsx
  apps/frontend-nextjs/src/components/ui/ClientToastContainer.tsx
Labels: √°rea: frontend, tipo: funcionalidade

fix: resolve build errors in hybrid architecture
  apps/frontend-nextjs/next.config.js
  apps/frontend-nextjs/src/components/analytics/ClientAnalytics.tsx
  apps/frontend-nextjs/src/components/home/PersonaSelector.tsx
Labels: √°rea: frontend, tipo: funcionalidade

feat: implement unified persona system core infrastructure
  apps/frontend-nextjs/src/contexts/PersonaContext.tsx
  apps/frontend-nextjs/src/contexts/PersonaContextSimple.tsx
  apps/frontend-nextjs/src/hooks/usePersonaFromURL.ts
  apps/frontend-nextjs/src/hooks/usePersonaState.ts
  apps/frontend-nextjs/src/hooks/usePersonasEnhanced.ts
  apps/frontend-nextjs/src/types/personas.ts
Labels: √°rea: frontend, breaking-change
