Repository AnalineS/roteirosdedispersacao, changes with the labels that .github/labeler.yml gives for each.
All labels: √°rea: backend, √°rea: frontend, √°rea: ci-cd, √°rea: documenta√ß√£o, √°rea: configura√ß√£o, tipo: funcionalidade, tipo: corre√ß√£o, tipo: testes, tipo: seguran√ßa, tipo: performance, tipo: depend√™ncias, breaking-change, automa√ß√£o

.github/labeler.yml:

# üè∑Ô∏è Configura√ß√£o do Sistema de Labels Autom√°ticos v5
# actions/labeler@v5 - Sintaxe atualizada

# ==============================================================================
# üìÅ LABELS POR √ÅREA/COMPONENTE
# ==============================================================================

"√°rea: backend":
  - changed-files:
    - any-glob-to-any-file: "apps/backend/**/*"

"√°rea: frontend":
  - changed-files:
    - any-glob-to-any-file: "apps/frontend-nextjs/**/*"

"√°rea: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - ".github/dependabot.yml"
      - "docker*"
      - "**/Dockerfile*"

"√°rea: documenta√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "README*"
      - "CHANGELOG*"

"√°rea: configura√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml" 
      - "*.yaml"
      - "*.toml"
      - "*.env*"
      - ".gitignore"

# ==============================================================================
# üìè LABELS POR TAMANHO DO PR
# ==============================================================================

"tamanho: pequeno":
  - changed-files:
    - count-changed-files:
        max: 5

"tamanho: m√©dio":
  - changed-files:
    - count-changed-files:
        min: 6
        max: 20

"tamanho: grande":
  - changed-files:
    - count-changed-files:
        min: 21

# ==============================================================================
# üö¶ LABELS POR TIPO DE MUDAN√áA (baseado em arquivos)
# ==============================================================================

"tipo: funcionalidade":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/backend/src/controllers/**/*" 
      - "apps/frontend-nextjs/src/pages/**/*"
      - "apps/frontend-nextjs/src/components/**/*"

"tipo: corre√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*fix*"
      - "**/*bug*"
      - "apps/backend/src/middleware/**/*"

"tipo: testes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/test*/**/*"
      - "**/tests/**/*"
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/cypress/**/*"
      - "**/playwright/**/*"

"tipo: seguran√ßa":
  - changed-files:
    - any-glob-to-any-file:
      - "**/security/**/*"
      - "**/*auth*/**/*"
      - "**/*security*"
      - ".github/queries/**/*"

"tipo: performance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/cache/**/*"
      - "**/*performance*"
      - "**/*optimization*"
      - "**/monitoring/**/*"

"tipo: depend√™ncias":
  - changed-files:
    - any-glob-to-any-file:
      - "package*.json"
      - "requirements*.txt"
      - "poetry.lock"
      - "Pipfile*"
      - "yarn.lock"

# ==============================================================================
# üåø LABELS POR BRANCH DE ORIGEM (v5 feature)
# ==============================================================================

"tipo: feature":
  - base-branch: ["feat/*", "feature/*"]

"tipo: bugfix":  
  - base-branch: ["fix/*", "bugfix/*"]

"tipo: hotfix":
  - base-branch: ["hotfix/*"]

"tipo: manuten√ß√£o":
  - base-branch: ["chore/*", "maintenance/*", "maint/*"]

"tipo: release":
  - base-branch: ["release/*"]

"tipo: refactor":
  - base-branch: ["refactor/*", "refact/*"]

# ==============================================================================
# üéØ LABELS POR BRANCH DE DESTINO (v5 feature)  
# ==============================================================================

"ambiente: produ√ß√£o":
  - head-branch: ["main", "master"]

"ambiente: homologa√ß√£o":
  - head-branch: ["hml", "staging", "develop"]

# ==============================================================================
# ‚ö° LABELS POR PRIORIDADE AUTOM√ÅTICA
# ==============================================================================

"prioridade: cr√≠tica":
  - base-branch: ["hotfix/*"]
  - changed-files:
    - any-glob-to-any-file:
      - "**/*security*"
      - "**/*auth*"
      - "apps/backend/src/middleware/**/*"

"prioridade: alta":
  - base-branch: ["fix/*", "bugfix/*"]
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - ".github/workflows/main-pipeline.yml"

"prioridade: m√©dia":
  - base-branch: ["feat/*", "feature/*"]
  - changed-files:
    - any-glob-to-any-file:
      - "apps/frontend-nextjs/src/**/*"

"prioridade: baixa":
  - base-branch: ["chore/*", "docs/*"]
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"
      - "**/test*/**/*"

# ==============================================================================
# üí• LABELS ESPECIAIS
# ==============================================================================

"breaking-change":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/models/**/*"
      - "apps/backend/migrations/**/*"  
      - "apps/frontend-nextjs/src/types/**/*"

"dependabot":
  - author: "dependabot[bot]"

"automa√ß√£o":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**/*"
      - "scripts/**/*"
      - "**/*automation*"

"revis√£o-necess√°ria":
  - changed-files:
    - count-changed-files:
        min: 50
  - base-branch: ["hotfix/*"]
  
"documenta√ß√£o-necess√°ria":
  - changed-files:
    - any-glob-to-any-file:
      - "apps/backend/src/routes/**/*"
      - "apps/frontend-nextjs/src/pages/**/*"
    - all-globs-to-all-files: "!**/*.md"

refactor: clean and standardize workflows organization
  .github/workflows/CONSOLIDACAO_REALIZADA.md
  .github/workflows/README.md
  .github/workflows/REESTRUTURACAO_COMPLETA_FINAL.md
  .github/workflows/WORKFLOW_CONSOLIDATION_PLAN.md
  .github/workflows/deployment-optimization.md
  .github/workflows/hml-pipeline.yml
Labels: √°rea: ci-cd, √°rea: documenta√ß√£o, tipo: performance, automa√ß√£o

fix: resolve workflow failures with permission and YAML syntax errors
  .github/workflows/dependabot-manager.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-manager.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: resolve workflow failures with permission and YAML syntax errors
  .github/workflows/dependabot-manager.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-manager.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: correct multiline string syntax in pr-labeler YAML
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: correct multiline string syntax in pr-labeler YAML
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: simplify pr comment syntax to avoid YAML encoding issues
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: simplify pr comment syntax to avoid YAML encoding issues
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

docs: add note about intelligent labeling system implementation
  README.md
Labels: √°rea: documenta√ß√£o

fix: remove duplicate env definitions causing workflow failures
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: remove duplicate env definitions causing workflow failures
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: consolidate env definitions to resolve workflow syntax errors
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: consolidate env definitions to resolve workflow syntax errors
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

fix: completely rewrite pr-labeler.yml with clean UTF-8 LF encoding and ASCII-safe content
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

remove: delete problematic pr-labeler.yml to recreate cleanly
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

feat: recreate pr-labeler.yml with clean UTF-8 LF and proper Git configuration
  .gitattributes
  .github/workflows/pr-labeler.yml
Labels: √°rea: ci-cd, automa√ß√£o

docs: confirm intelligent labeling system is fully operational
  README.md
Labels: √°rea: documenta√ß√£o
